.task-card--overdue {
  background: var(--color-grey-96);
  border-color: var(--color-red-51);
  border-width: 1px;
  border-left-width: 4px;

  &:hover {
    box-shadow: var(--shadow-overdue-hover);
  }
}

.task-card--todo:hover {
  border-color: var(--color-azure-46);
  box-shadow: var(--shadow-todo-hover);
}

.task-card--in-progress:hover {
  border-color: var(--color-orange-48);
  box-shadow: var(--shadow-progress-hover);
}

.task-card--completed:hover {
  border-color: var(--color-green-39);
  box-shadow: var(--shadow-completed-hover);
}

.task-card--completed .task-card__title {
  color: var(--color-grey-46);
}

.task-card--overdue .task-card__status {
  color: var(--color-red-51);
}

.task-card--completed .task-card__status {
  color: var(--color-green-39);
}
