<section
  class="column tw:flex tw:h-full tw:min-h-0 tw:flex-col tw:rounded-[var(--radius-8)] tw:bg-[var(--color-white-solid)] tw:p-[var(--space-16)]"
>
  <header
    class="tw:flex tw:min-h-[33.19px] tw:items-center tw:justify-between tw:gap-[var(--space-8)] tw:border-b tw:border-[var(--color-grey-88)] tw:pb-[var(--space-8)]"
  >
    <h2
      class="tw:m-0 tw:[font-size:var(--font-size-card-title)] tw:font-[var(--font-weight-bold)] tw:leading-[var(--line-height-224)] tw:text-[var(--color-grey-13)] tw:uppercase"
    >
      {{ title() }}
    </h2>
    <span
      class="column__count tw:inline-flex tw:h-[var(--size-count-badge-height)] tw:min-w-[var(--size-count-badge-width)] tw:items-center tw:justify-center tw:rounded-[var(--radius-4)] tw:bg-[var(--color-grey-97)] tw:px-[6px] tw:[font-size:var(--font-size-badge)] tw:font-[var(--font-weight-bold)] tw:text-[var(--color-grey-13)]"
      >{{ tasks().length }}</span
    >
  </header>

  <div
    class="tw:flex tw:min-h-[120px] tw:flex-1 tw:flex-col tw:gap-[var(--space-16)] tw:pt-[var(--space-16)] tw:[&.cdk-drop-list-receiving]:outline tw:[&.cdk-drop-list-receiving]:outline-1 tw:[&.cdk-drop-list-receiving]:outline-dashed tw:[&.cdk-drop-list-receiving]:outline-[var(--color-azure-46)] tw:[&.cdk-drop-list-receiving]:outline-offset-4"
    cdkDropList
    [id]="status()"
    [cdkDropListData]="tasks()"
    [cdkDropListDisabled]="dragDisabled()"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (task of tasks(); track task.id) {
      <div
        class="tw:cursor-grab tw:[&.cdk-drag-placeholder]:opacity-40"
        cdkDrag
        [cdkDragData]="task"
        [cdkDragDisabled]="dragDisabled()"
      >
        <app-task-card
          class="tw:block tw:w-full"
          [task]="task"
          (edit)="editTask.emit($event)"
          (remove)="deleteTask.emit($event)"
          (move)="moveTask.emit($event)"
        />
      </div>
    } @empty {
      <app-empty-state
        title="No tasks"
        message="Nothing in this column yet. Drop a card here or use Move."
      />
    }
  </div>
</section>
